<div class="{{type}}" style="left: calc(({{year}} - 1998) * 200px);">
  <div class="tick-label">{{year}}</div>
	<div class="event-indicator" id="{{event-id}}">
    <img src="img/event-icons/{{event-icon}}" alt="Event Image" /i>
		<div class="event-card">
			{{> timeline/event-card title=title description=description event-picture=event-picture}}
		</div>
  </div>
	<div class="micro-ticks">
		<div class="micro-tick" style="left: calc(0 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(1 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(2 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(3 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(4 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(5 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(6 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(7 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(8 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(9 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(10 * (200px / 12));"></div>
		<div class="micro-tick" style="left: calc(11 * (200px / 12));"></div>
	</div>
	
</div>